

<div class='row'>
  <div class='col s12'>
    <div class='card'>
      <div class='card-content'>
        <span class='card-title'><%=comment.user.adid %></span>
        <p><%=comment.comment%></p>
      </div>
      <div class='card-action'>
        <span class='date'>27th Feb</span>
        <span class='comment-delete'><%=link_to 'Delete', [comment.post, comment], method: :delete, class: 'button is-danger', data: {confirm: 'Are you sure?'} %></span>
      </div>
    </div>
  </div>
</div>