<!-- topmost header -->
  <div class='navbar-fixed'>
    <nav class ='indigo darken-4'>
      <div class='nav-wrapper'>
        <div class='back hide-on-large-only',  onclick='history.back()'><%= icon('fa', 'chevron-left') %></div>
        <a href='/' class='brand-logo'>Atlas</a>
      </div>
    </nav>
  </div>