

  <div class='footer hoverable hide-on-med-and-up'>
    <nav class='indigo darken-4'>
      <div class='nav-wrapper'>
        <a href='#' class='footer-category'>News</a>
        <div class='bottom-navigation fixed-action-btn'>
          <a class='btn-floating btn-large red'>
            <%= icon('fa','sort-up') %>
          </a>
        </div>
        <li>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger footer-hamburger">
            <%=icon('fa','bars') %>
          </a>
        </li>

        <ul id='footer-nav'>
          <li>
            <a class='footer-search'>
              <%= icon('fa','search') %>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div id='footer-categories' class='bottom-drawer'>
    <ul>
      <li><a href="#">News</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </div>