<%= render 'shared/header' %>
<%= content_for :page_title, 'Create A New Post' %>

<div class='container'>
  <div class='post-title center-align'><h3>Create a New Post</h3></div>
  <%= render 'form' %>
</div>