/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree
 */


 @import 'font-awesome';
 @import 'bulma';

 /* add custom stylesheets here */
 @import 'comments.scss';
 @import 'posts.scss';
 @import 'registration.scss';


 /* Temporary Fix */
 html, body {
  height: 100%;
}

.devise {
    padding-top: 240px;
    background-image: image-url('login-background.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.devise * {
  color: white;
}


.devise .input {
   border-width: 0;
   background-color: rgba(0,0,255, 0.2);

}

.devise input {
  border-width: 0px;
  color: white;
  width: 360px;
  background-color: transparent
}

.devise input:focus {
  outline: none !important;
  border-bottom:1px solid red;
}

#user_remember_me {
  width: fit-content;
}
.devise .button {
  background-color: rgba(0,0,255, 0.4);
  padding-left: 160px;
  padding-right: 160px;
}

.devise .simple_form {
  text-align: center;
  margin: 0 auto;
  width: 360px;
}

.devise ::-webkit-input-placeholder { /* Edge */
  color: white;
}

.devise :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.devise ::placeholder {
  color: white;
}