// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Navbar styles
.select-dropdown {
  color: white;
}

.navbar-fixed li {
  margin:5px
}

nav .sidenav-trigger {

  margin: 0 0;
}

nav .sidenav-trigger {
  position: absolute;
  left: 0px;
}


nav .brand-logo {
  padding-left: 25px;
}

.category-select a {
  font-size: large;
  padding-right: 1em;
}

.dropdown-content:focus {
  display: table !important;
}

.dropdown-content li {
  min-height: fit-content;
}
.dropdown-content li > a {
  padding: 5px;
}
.dropdown-content li > a > i {
  width: fit-content;
  margin: 0;
  margin-right: 5px;
}

@media only screen and (max-width: 992px) {

  .category-select {
    position: absolute;
    padding-left: 25px;
    left: 0;
  }
  
}

.fa-angle-down {
  height: fit-content;
}

.fa-ellipsis-v {
  height: fit-content;
  font-size: large;
}



// Side bar styles

.sidenav li > a > i,
 .sidenav li > a > [class^="mdi-"],
  .sidenav li > a li > a > [class*="mdi-"],
   .sidenav li > a > i.material-icons {
     margin-right: 0;
   }


.sidenav .user-view {
  height: 200px;
  position: relative;
}

.sidenav .user-view .name {
  position: absolute;
  bottom: 5px;
  font-size: 24px;
}



// Content Styles

.title h2 {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.meta p {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content p {
  font-size: medium;
  margin-top: 5px;
}


.post {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}


.card .no-image .card-title {
  position: relative;
}

.card .card-image .card-title {
  background-color: rgba($color: #000000, $alpha: 0.4);
}




// Preloader

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}



@media only screen and (max-width: 992px) {

  .preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 40%;
  }
}