// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.fab {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0;
  z-index: 999;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.is-navy {
  background-color: #01347a;
}

.is-navy * {
  color:white;
}


.tabs li.is-active a {
  border-bottom-color: #EF6C00;
  border-bottom-width: 4px;
}

@media only screen and (max-width: 1024px){
  .fa-filter {
    position: fixed;
    right: 10px;
    margin: 15px;
    top: 8px;
  }
}

.fa-filter {
  margin-left: 20px;
}


.card-content {
  overflow-x: overlay;
}

