// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.select-dropdown {
  color: white;
}

.navbar-fixed li {
  margin:5px
}

nav .sidenav-trigger {

  margin: 0 0;
}


nav .brand-logo {
  padding-left: 25px;
}

.category-select a {
  font-size: large;
}

.dropdown-content:focus {
  display: table !important;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    padding-left: 25px;
    left: 0;
    transform: translateX(0);
  }

  .category-select {
    position: absolute;
    right: 45%;
  }
  
}

.fa-angle-down {
  height: fit-content;
}



// Side bar styles

.sidenav li > a > i,
 .sidenav li > a > [class^="mdi-"],
  .sidenav li > a li > a > [class*="mdi-"],
   .sidenav li > a > i.material-icons {
     margin-right: 0;
   }


.sidenav .user-view {
  height: 200px;
  position: relative;
}

.sidenav .user-view .name {
  position: absolute;
  bottom: 5px;
  font-size: 24px;
}