.row .col.info {
  padding-right: 1.75rem;
  padding-left:  1.75rem;
  padding-top: 1.75rem;
}


.image {
  height: 100vh;
}


.image h1 {
  margin: 0 auto;
}


.section.registration {
  padding-top: 0;
  padding-bottom: 0;
}

.section.registration .row {
  margin-bottom: 0;
}



.form-inputs .input input{
  max-width: 400px;
}

.user_remember_me {
  padding-bottom: 0.75rem;
  padding-top: 0.25rem;
}

.waves-button-input {
  color: white;
  width: 20vw;
  max-width: 300px;
}

.waves-input-wrapper {
  border-radius: 2em;
}

@media only screen and (max-width:601px) {

  .waves-button-input {
    width: 40vw;
  }
}


@media only screen and (min-width:1000px) {
  .row .m6.input-field.l input {
    float: left;
  }
  .row .m6.input-field.r input {
    float: right;
  }
}



.divider {
  margin: 1.75rem;
}