<section class ='section'>
  <div class ='container'>
    <%= image_tag("tmp/i3.jpg") %>
    <hr />
    <div class='title has-text-centered'> 7 Reasons Why Need Innovation In Schools
    </div>
    <div class= 'content'>
      <p>Innovation is more than a buzzword today—it’s something educators strive for in their classrooms, schools, and districts.</p>

      <p>We can’t test students on their innovation, but we can encourage them to explore new concepts, look at challenges from all sides, and embrace failures as opportunities 
      to try again with more knowledge.</p>
      <p>We also want to make sure you know about our Distinguished Innovator Awards program, which recognizes educators, leaders, schools, and districts that 
      are embracing personalized learning, closing equity and opportunity gaps, and using groundbreaking strategies to improve education in every classroom. 
      If you have a minute, enter the contest or nominate a colleague! The contest is open until November 30.</p>
      <p>It’s important to recognize innovation when we see it. Here, we’ve highlighted some excellent examples of innovation in schools across the nation,
      and we’ve linked to more information about each example.</p>
  </div>
</section>